* {
  background: #f5f5f5;
  color: black;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
h1 {
  font-size: 1.5rem;
  line-height: 0.5rem;
}
p, div {
  font-size: 16px;
}
header {
   position: relative;
   width: 100%;
   background: #161415;
   text-align: center;
   overflow: hidden;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1em;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
}

.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav li {
  display: inline-flex;
  padding: 1.4em;
}
