* {
  background: #f8f8f8;
  color: rgb(66, 66, 66);
}
html {
  height: 100%;
}
body {
  height: 100%;
}
h1 {
  font-size: 1.5rem;
  line-height: 1.4rem;
}
p, div {
  font-size: 16px;
}
header {
   position: relative;
   width: 100%;
   background: #161415;
   text-align: center;
   overflow: hidden;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1em;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
}

.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav li {
  display: inline-flex;
  padding: .95em;
}

ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

  display: inline-block;
  line-height: 32px;
	text-decoration: none;
  text-align: left;
}

ul#nav li:hover { background-color: rgba(0, 0, 0, 0.178) !important; }
ul#nav li:active { background-color: rgba(0, 0, 0, 0.267) !important; }
ul#nav li.current a { color: rgb(189, 91, 26); }

.sidebar {
  transition: transform .5s,box-shadow .5s;
  animation: 1s ease-out 1s 1 slideUpFade;
  background: #fff;
  box-shadow: 4px 1px 12px 3px rgba(255, 255, 255, 0.08);
  overflow: hidden;
  padding: 0.5em;
  margin-bottom: 50px;
  border-style: solid dashed;
  border-color: #ccc;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 30px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.breadcrumb-link {
  font-size: .75em;
  text-decoration: none;
  padding-right: 2px;
  color: rgba(189, 91, 26, 0.74);
  font-weight: 200;
  font-kerning:auto;
}

.breadcrumb-link:hover{
  text-decoration: underline;
}

.breadcrumb-link-separator {
  font-size: .75em;
  margin: 0 4px;
  font-weight: 200;
}
.css-animation-container {
  margin: 30px;
  padding: 50px;
}
.css-animation {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-color: purple;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: purple;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: aliceblue;
  }
}

.slide-in-text {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
